/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.title-div{
  font-family: 'Merriweather', serif;
  font-size: 120px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #F89406;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height:1000px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .title-div{
    font-size: 80px;
      top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.quote{
  font-size:100px!important;
}
footer.page-footer {
  margin: 0;
}